
.intro {
	margin-top: 140px;
}

.block {
	display: flex;
	justify-content: space-between;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 445px;
	margin-top: 50px;
}

.title {
	font-size: 60px;
	font-weight: 400;
	line-height: 100%;
	color: #4C5866;
}

.description {
	font-size: 18px;
	line-height: 150%;
	color: #85859B;
}

.image {
	position: relative;
	z-index: -1;
	width: 540px;
	height: 560px;
}