
.intro {
	margin-top: 110px;

	@media (width <= 768px) {
		margin-top: 20px;
	}

	@media (width <= 568px) {
		padding: 50px 0;
		margin-top: 0;
	}
}

.block {
	display: flex;
	justify-content: space-between;

	@media (width <= 568px) {
		display: block;
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 445px;
	margin-top: 50px;

	@media (width <= 1320px) {
		width: 390px;
		margin-top: 10px;
	}

	@media (width <= 768px) {
		gap: 20px;
		width: 285px;
		margin-top: 40px;
	}

	@media (width <= 568px) {
		gap: 15px;
		margin-top: 0;
	}
}

.title {
	font-size: 60px;
	font-weight: 400;
	line-height: 100%;
	color: #4C5866;

	@media (width <= 1320px) {
		font-size: 50px;
	}

	@media (width <= 768px) {
		font-size: 38px;
	}

	@media (width <= 568px) {
		font-size: 30px;
	}
}

.description {
	font-size: 18px;
	line-height: 150%;
	color: #85859B;

	@media (width <= 768px) {
		font-size: 16px;
	}

	@media (width <= 568px) {
		font-size: 14px;
	}
}

.image {
	position: relative;
	z-index: -1;
	width: 540px;
	height: 590px;

	@media (width <= 1320px) {
		width: 270px;
		height: 410px;
	}

	@media (width <= 768px) {
		width: 195px;
		height: 396px;
	}

	@media (width <= 568px) {
		display: none;
	}
}