@use "../../../assets/styles/variables";

.footer {
	background-color: #4C5866;
}

.block {
	display: flex;
	place-content: space-between space-between;
	padding: 24px 0;

	@media (width <= 568px) {
		flex-direction: column;
		align-items: center;
	}
}

.line {
	display: none;
	width: 100%;
	height: 1px;
	margin: 20px 0;
	background-color: #DDD;
	opacity: 0.2;

	@media (width <= 568px) {
		display: block;
	}
}

.networks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.link {
	width: 24px;
	height: 24px;
}

.copyright {
	padding: 3px 0;
	font-size: 13px;
	line-height: 15px;
	color: #4C5866;
	text-align: center;
	background-color: white;
}

.highlighting {
	color: #BCBCBC;
}