
.block {
	padding: 120px 0 90px;
	background: #EBEBEB;

	@media (width <= 1320px) {
		padding: 60px 0;
	}

	@media (width <= 568px) {
		padding: 50px 0;
	}
}

.features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 50px;
	list-style: none;

	@media (width <= 568px) {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;
		gap: 50px;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;

	@media (width <= 1320px) {
		align-items: flex-start;
		margin-top: 40px;
	}

	@media (width <= 768px) {
		flex-direction: column;
	}
}

.image {
	width: 730px;
	height: 564px;

	@media (width <= 1320px) {
		width: 330px;
		height: 256px;
	}
}

.info {
	width: 350px;

	@media (width <= 1320px) {
		width: 330px;
	}

	@media (width <= 768px) {
		width: 100%;
	}
}

.title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 400;
	line-height: 100%;
	color: #666;

	@media (width <= 1320px) {
		font-size: 30px;
	}

	@media (width <= 768px) {
		margin-bottom: 10px;
		font-size: 24px;
	}
}

.text {
	font-size: 18px;
	font-weight: 400;
	line-height: 170%;
	color: #85859B;

	&:first-of-type {
		margin-bottom: 15px;
	}

	@media (width <= 1320px) {
		&:first-of-type {
			margin-bottom: 10px;
		}
	}

	@media (width <= 768px) {
		font-size: 16px;

		&:first-of-type {
			margin-bottom: 2px;

		}
	}
}