
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto_regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/roboto_medium.ttf") format("truetype");
	font-display: swap;
}