@use "../../assets/styles/variables";

:root {
	color-scheme: only light;
}

*::selection {
	color: white;
	background-color: variables.$color-accent	;
}

body {
	font-family: Roboto, serif;
	font-size: 18px;
}

body::-webkit-scrollbar {
	width: 9px;
}

body::-webkit-scrollbar-track {
	background: #EBEBEB;
}

body::-webkit-scrollbar-thumb {
	background-color: #85859B;
	border-radius: 30px;
}

a, button {
	cursor: pointer;
}