@use "../../assets/styles/variables";

:root {
	color-scheme: only light;
}

* {
	color: red;
}

body {
	font-family: Roboto, serif;
	font-size: 18px;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: #EBEBEB;
}

body::-webkit-scrollbar-thumb {
	background-color: #85859B;
	border: 3px solid #EBEBEB;
	border-radius: 20px;
}

a, button {
	cursor: pointer;
}